<template>
    <div class="content custom-body">
        <div class="title m-b-md">
            Medžiotojų forumas
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>