<template>
<div class="container">
    <div class="card" style="width: 23rem;">
    <div class="card-header">Prisijungimas</div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label class="col-md-8">El. paštas</label>
                    <div class="col-md-8">
                        <input class="form-group" type="text" name="username" v-model="username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-8">Slaptažodis</label>
                    <div class="col-md-8">
                        <input  class="form-group" type="password" name="password" v-model="password">
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <button type="button" @click="login()" class="btn btn-custom" >Prisijungti</button>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                username: '',
                password: '',
            };
        },
        methods: {
            login() {
                let dataUser = {
                    username: this.username,
                    password: this.password
                };
                axios.post('/api/login', dataUser)
                    .then((data) => {
                        auth.login(data.data, dataUser);
                        this.$router.push('/topics');
                    })
                    .catch(({response}) => {
                        alert(response.data.message);
                    });
            },

        }

    }
</script>

<style scoped>

</style>