<template>
    <div>

        <div v-if="authenticated && user">
            <router-link class="custom-body navbut" to="/">Pradinis</router-link>
            <router-link class="custom-body navbut" to="/topics">Forumas</router-link>
            <a  class="custom-body navbut" href="#" @click="logout()">Atsijungti</a>
        </div>

        <div v-if="!authenticated && !user">
            <router-link class="custom-body navbut " to="/login">Prisijungti</router-link>
            <router-link class="custom-body navbut " to="/register">Registracija</router-link>
        </div>

        <div style="margin-top: 2rem">
            <router-view></router-view>
        </div>

    </div>
</template>
<script>
    export default {

        data() {
            return {
                authenticated: auth.check(),
                user: auth.user
            };
        },

        mounted() {
            Event.$on('userLoggedIn', () => {
                this.authenticated = true;
                this.user = auth.user;
            });
            Event.$on('userLoggedOut', () => {
                this.authenticated = false;
                this.user = null;
                this.$router.push('/');
            });
        },

        methods: {
            logout() {
                auth.logout()
            }
        }
    }
</script>