<template>
    <div>
        <form>
            <div class="form-group" style="padding-top: 50px">
                <input type="text" class="form-control" placeholder="Komentaras" v-model="post.body" >
            </div>
            <button @click="createPost()" type="submit" class="btn btn-light mb-5">Publikuoti postą</button>
        </form>
        <div class="card card-body mb-3"  v-for="post in posts" v-bind:key="post.id">
            <h3>{{post.body}}</h3>
            <button @click="updatePost(post.id)" style="width: 150px" class="btn btn-info mb-2">Redaguoti postą</button>
            <button @click="deletePost(post.id)" style="width: 150px" class="btn btn-danger">Trinti postą</button>
        </div>


    </div>
</template>

<script>
    export default {
        name: 'Posts',
        props: ['id'],
        data() {
            return {
                posts:[],
                post: {
                    id: '',
                    body: '',
                    user_id: '',
                    topic_id:this.id
                },
                pagination: {},
            }
        },
        created() {

            this.fetchPosts();
        },
        methods:{
            fetchPosts(){

                axios.get('/api/topics/' + this.id + '/posts')
                    .then(response => {
                        this.posts = response.data;
                    })
                    .catch(err =>  console.log(err));
            },

            deletePost(id){
                if(confirm('Ar tikrai norite ištrinti postą?'))
                {
                    axios.delete('/api/posts/' + id)
                        .then(response => {
                            new Noty({
                                text: 'Postas pašalintas',
                                layout: 'bottomRight',
                                type: 'success',
                            }).show();
                            this.fetchPosts();
                        })
                        .catch(err => {
                            if (err.response.status == "401")
                            {
                                new Noty({
                                    text: 'Tai nėra Jūsų postas',
                                    layout: 'bottomRight',
                                    type: 'warning',
                                }).show();
                            }
                            else {
                                console.log(err);
                            }
                        });
                }
            },

            createPost() {
                if (this.post.id)
                    {
                        axios.put('/api/posts/' + this.post.id, {
                            body:this.post.body
                        })
                            .then(response => {
                                new Noty({
                                    text: 'Postas atnaujintas',
                                    layout: 'bottomRight',
                                    type: 'success',
                                }).show();
                                this.fetchPosts();
                            })
                            .catch(err => {
                                if (err.response.status == "401")
                                {
                                    new Noty({
                                        text: 'Tai nėra Jūsų postas',
                                        layout: 'bottomRight',
                                        type: 'warning',
                                    }).show();
                                }
                                else {
                                    console.log(err);
                                }
                            });
                    }
                else {
                    axios.post('/api/posts', {
                        body:this.post.body,
                        topic_id:this.id
                    })
                        .then(data => {
                            new Noty({
                                text: 'Postas publikuotas',
                                layout: 'bottomRight',
                                type: 'success',
                            }).show();
                            this.fetchPosts();
                        })
                        .catch(err => console.log(err));
                }
            },

            updatePost(id){
                axios.get('/api/topics/' + this.id + '/posts/' + id)
                    .then(data => {
                        this.post.id = data.data.id;
                        this.post.body = data.data.body;
                        this.fetchPosts();
                    })
                    .catch(err => {
                        if (err.response.status == "401")
                        {
                            new Noty({
                                text: 'Tai nėra Jūsų postas',
                                layout: 'bottomRight',
                                type: 'warning',
                            }).show();
                        }
                        else {
                            console.log(err);
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>