<template>
    <div class="container">
        <div class="card" style="width: 23rem;">
            <div class="card-header">Vartotojo registracija</div>
            <div class="card-body">
                <form >
                    <div class="form-group">
                        <label class="col-md-8">El. paštas</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="email" v-model="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8">Vardas</label>
                        <div class="col-md-8">
                            <input  class="form-control" type="text" name="name" v-model="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8">Slaptažodis</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="password" v-model="password" ref="password">
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <button type="button" @click="register()" class="btn btn-custom" >Registruotis</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                email: '',
                name: '',
                password: '',
            };

        },
        methods: {
            register() {
                let dataUser = {
                    name: this.name,
                    email: this.email,
                    password: this.password
                };
                axios.post('/api/register', dataUser)
                    .then((data) => {
                        this.$router.push('/login');
                    })
                    .catch(({response}) => {
                        alert(response.data.message);
                    });
            },

        }

    }
</script>

<style scoped>

</style>