<template>
    <div>
        <h2>Forumas</h2>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Pavadinimas" v-model="topic.title" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Temos aprašymas" v-model="topic.about" >
            </div>
            <button @click="createTopic()" class="btn btn-light mb-5">Publikuoti temą</button>
        </form>

        <div class="card card-body mb-3" v-for="topic in topics" v-bind:key="topic.id">
            <h3><router-link :to="{ name:'Posts', params: { id:topic.id } }">{{topic.title}}</router-link></h3>
            <h4>{{topic.about}}</h4>
            <button @click="updateTopic(topic.id)" style="width: 150px" class="btn btn-info mb-2">Redaguoti temą</button>
            <button @click="deleteTopic(topic.id)" style="width: 150px" class="btn btn-danger">Trinti temą</button>
        </div>

        <nav aria-label="Paging">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#/topics" @click="fetchTopics(pagination.prev_page_url)"
                >Praeitas</a></li>
                <li class="page-item disabled"><a class="page-link text-dark" href="#">Puslapis {{ pagination.current_page }} iš {{ pagination.last_page }}</a></li>
                <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#/topics" @click="fetchTopics(pagination.next_page_url)"
                >Sekantis</a></li>
            </ul>
        </nav>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                topics:[],
                topic: {
                    id: '',
                    title: '',
                    about: ''
                },
                pagination: {}
            }
        },
        created() {
            this.fetchTopics();
        },
        methods:{
            fetchTopics(page) {
                let vm = this;
                page = page || '/api/topics';
                axios.get(page)
                    .then((data) => {
                        this.topics = data.data.data;
                        vm.makePagination(data);
                    })
                    .catch(err => console.log(err));
            },
            makePagination(data){
                let pagination = {
                    current_page: data.data.meta.current_page,
                    last_page: data.data.meta.last_page,
                    next_page_url: data.data.links.next,
                    prev_page_url: data.data.links.prev
                };
                this.pagination = pagination;
            },

            deleteTopic(id){

                if(confirm("Ar tikrai norite istrinti tema?"))
                {
                    axios.delete('/api/topics/' + id)
                        .then(data => {
                            new Noty({
                                text: 'Tema pašalinta',
                                layout: 'bottomRight',
                                type: 'success',
                            }).show();
                            this.fetchTopics();
                        })
                        .catch(err => {
                            if (err.response.status == "401")
                            {
                                new Noty({
                                    text: 'Tai nėra Jūsų publikuota tema',
                                    layout: 'bottomRight',
                                    type: 'warning',
                                }).show();
                            }
                            else {
                                console.log(err);
                            }
                        });

                }
            },

            createTopic(){
                if(this.topic.id)
                    {
                        axios.put('/api/topics/' + this.topic.id, {
                            title:this.topic.title,
                            about:this.topic.about
                        })
                            .then(response => {
                                new Noty({
                                    text: 'Tema atnaujinta',
                                    layout: 'bottomRight',
                                    type: 'success'
                                }).show();
                                this.fetchTopics();
                            })
                            .catch(err => console.log(err));
                    }

                else {
                    axios.post('/api/topics', {
                        title:this.topic.title,
                        about:this.topic.about
                    })
                    .then(response => {
                        new Noty({
                            text: 'Tema publikuota',
                            layout: 'bottomRight',
                            type: 'warning',
                        }).show();
                        this.fetchTopics();
                    })
                    .catch(err => console.log(err));
                }
                },

            updateTopic(id){
                axios.get('/api/topics/' + id)
                    .then(data => {
                        this.topic.id = data.data.data.id;
                        this.topic.title = data.data.data.title;
                        this.topic.about = data.data.data.about;
                        this.fetchTopics();
                    })
                    .catch(err => {
                        if (err.response.status == "401")
                        {
                            new Noty({
                                text: 'Tai nėra Jūsų publikuota tema',
                                layout: 'bottomRight',
                                type: 'warning',
                            }).show();
                        }
                        else {
                            console.log(err);
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>